* {
  padding: 0;
  margin: 0;
}

nav.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(1, 19, 63);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 48px;
  margin: 50px;
}

.link {
  text-decoration: none;
  width: 300px;
  text-align: center;
  padding: 20px 50px;
  background: rgb(1, 19, 63);
  color: white;
  font-size: 24px;
}

.link:hover {
  background: rgb(1, 24, 82);
}

.main {
  background-color: rgb(238, 238, 238);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  transform: translate(-50%);
  left:50%;
}

.pokemon-box {
  width: 110px;
  height: 110px;
  background-color: rgb(221, 221, 221);
  margin: 20px;
  border: 2px black solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow:hidden;
  padding: 20px;
}

.pokemon-box img {
  position: absolute;
  top: 0%;
}

.pokemon-name-box {
  background-color: rgb(199, 199, 199);
  width: 100%;
  height: 40px;
  font-size: 24px;
  position: absolute;
  text-align: center;
  bottom: 0%;
  color: black;
}

h1.pokemon-type {
  text-align: center;
  margin: 10px;
}
